<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="youlingme.com.demos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_my_list_view" />
        <activity
            android:name=".activity.ArrayAdapterActivity"
            android:label="@string/title_activity_my_array_adapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BaseAdapterActivity"
            android:label="@string/title_activity_my_base_adapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SimpleAdapterActivity"
            android:label="@string/title_activity_simple_adapter"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>